@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald:wght@200;300;400;500;600;700&family=Varela+Round&display=swap');

/* reset Default settings */
body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(to right, #d64933 0%, #eee5e9 50%, #7c7c7c 100%);
    background-size: cover;
    font-family: Lato, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    text-align: center;
}

/* Styling of the central container for game content */

.container {
    background-color: rgba(250, 249, 249, 0.8);
    margin-bottom: 10px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 450px;
}

/* Styling the username and rules area */
#username-area {
    height: 450px;
}

#username-area input {
    padding: 0.5rem;
    margin: 0.3rem;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

#username-area label {
    padding: 0.5rem;
    margin: 0.3rem;
    font-size: 1.2rem;
}

#usernameError {
    display: none;
    padding: 0.3rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(246, 0, 0);
}

#usernameError.visible {
    display: block;
}

/* How to play button container */
.play-container {
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(34, 39, 37, 0.6);
}

/* How to play card content */
.play-content {
    background-image: linear-gradient(to left, #d64933 0%, #eee5e9 50%, #7c7c7c 100%);
    margin: 15vh auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    justify-content: center;
    width: 450px;   
}

.play-title {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

.play-list {
    list-style: none;
    text-align: center;
    margin-bottom: .5rem;
}

.play-list li {
    padding: 1rem 0;
    font-size: 1rem;
}

.play-close-btn {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

/* Hover effect for how to play close button */
.play-close-btn:hover {
    transform: scale(1.3);
    cursor: pointer;
}
.btn-ctrl {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}

/* Styling for quiz question choice area */

#levelchoice-area {
    font-size: 1.2 rem;
    display: none;
}

#levelchoice-area li {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
}

/* Styling for quiz area */

#game-area {
    display: none;
}

.cancel-game {
    text-align: center;
}

.cancel-game i {
    color: black;
}

.cancel-game a {
    color: black;
    text-decoration: none;
}

#quiz-area {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

#quiz-area li {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
}

#question-counter {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
}

#score-area {
    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.correct {
    color: rgb(7, 136, 7);
}

.wrong {
    color: rgb(246, 0, 0);
}

#correct-counter {
    margin-right: 2rem;
    margin-left: 2rem;
}

#wrong-counter {
    margin-left: 2rem;
}

/* Styling for end of game page */
.btn {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

#play-again-btn {
    margin: 20px;
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
}

/* Styling for footer section */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right, #d64933 0%, #eee5e9 50%, #7c7c7c 100%);
}

footer a {
    color: black;
    padding: 0.5rem;
    margin: 0 25px 0 25px;
    font-size: 3rem;
}

/* Responsiveness of game on different screen sizes */

@media screen and (min-width: 1000px) {
    #levelchoice-area li:hover{
        background-color: #d64933;
        cursor: pointer;
    }

    #quiz-area li:hover {
        background-color: #d64933;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #d64933;
        cursor: pointer;
    }

    .btn-ctrl:hover {
        background-color: #d64933;
    }
}

@media screen and (max-width: 450px) {
    .container {
        width: 90%;
    }

    #username-area input {
        width: 80%;
    }
}

