@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald:wght@200;300;400;500;600;700&family=Varela+Round&display=swap');

/* reset Default settings */
body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(200, 100, 70, 0), rgba(255, 0, 0, 1));
    background-size: cover;
    font-family: Lato, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    text-align: center;
}

/* Styling of the central container for game content */

.container {
    background-color: rgba(250, 249, 249, 0.8);
    margin-bottom: 10px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 450px;
}

/* Styling the username and rules area */

#username-area input {
    padding: 0.5rem;
    margin: 0.3rem;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

#username-area label {
    padding: 0.5rem;
    margin: 0.3rem;
    font-size: 1.2rem;
}

#usernameError {
    display: none;
    padding: 0.3rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(246, 0, 0);
}

#usernameError.visible {
    display: block;
}

#instructions {
    font-size: 1.2rem;
    font-weight: 500;
    list-style-type: disc;
    text-align: left;
    padding-left: 2rem;
}

/* Styling for quiz question choice area */

#levelchoice-area {
    font-size: 1.2 rem;
    display: none;
}

#levelchoice-area li {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
}

/* Styling for quiz area */

#game-area {
    display: none;
}

#quiz-area {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

#quiz-area li {
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
}

#question-counter {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
}

#score-area {
    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.correct {
    color: rgb(7, 136, 7);
}

.wrong {
    color: rgb(246, 0, 0);
}

#correct-counter {
    margin-right: 2rem;
    margin-left: 2rem;
}

#wrong-counter {
    margin-left: 2rem;
}

/* Styling for footer section */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 50px;
    width: 100%;
    background-color: #ff3e41;
}

footer a {
    color: white;
    padding: 0.5rem;
    margin: 0 25px 0 25px;
    font-size: 2rem;
}

